Repository ArkEcosystem/java-crypto, pull requests merged in 2020-03, with the labels that each got.

#119 chore: version bump in build.gradle
  build.gradle
Labels: Complexity: Low, Type: Task

#120 refactor: make abstract instance method public
  src/main/java/org/arkecosystem/crypto/transactions/builder/AbstractTransactionBuilder.java
Labels: Complexity: Low, Type: Refactor

#122 test: increase test coverage
  src/main/java/org/arkecosystem/crypto/transactions/Serializer.java
  src/main/java/org/arkecosystem/crypto/transactions/builder/AbstractTransactionBuilder.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/DelegateRegistrationBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/DelegateResignationBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/HtlcClaimBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/HtlcLockBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/HtlcRefundBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/IpfsBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/MultiPaymentBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/MultiSignatureRegistrationBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/SecondSignatureRegistrationBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/TransferBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/VoteBuilderTest.java
Labels: Complexity: Medium, Test: Unit

#123 release: 1.2.1
  .github/workflows/publish-release.yml
  build.gradle
  src/main/java/org/arkecosystem/crypto/transactions/Serializer.java
  src/main/java/org/arkecosystem/crypto/transactions/builder/AbstractTransactionBuilder.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/DelegateRegistrationBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/DelegateResignationBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/HtlcClaimBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/HtlcLockBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/HtlcRefundBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/IpfsBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/MultiPaymentBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/MultiSignatureRegistrationBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/SecondSignatureRegistrationBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/TransferBuilderTest.java
  src/test/java/org/arkecosystem/crypto/transactions/builder/VoteBuilderTest.java
Labels: Complexity: Medium, Type: Release

#124 fix: github actions split workflows
  .github/workflows/publish-release-gpr.yml
  .github/workflows/publish-release-maven.yml
  build.gradle
Labels: Complexity: Low, Type: Bugfix

#125 release: 1.2.3
  .github/workflows/publish-release-gpr.yml
  .github/workflows/publish-release-maven.yml
  build.gradle
Labels: Complexity: Low, Type: Release

#126 release: 1.2.8
  .github/workflows/publish-release-maven.yml
  build.gradle
  settings.gradle
Labels: Complexity: Medium, Type: Release

#127 release: 1.2.9
  build.gradle
Labels: Complexity: Low, Type: Release

#132 chore: update renovate to send PR to develop
  renovate.json
Labels: Complexity: Low, Type: Task
